<div class="container">
  <%= image_tag @post_image.get_image, size: "300x300" %>
    <p>キャプション：<%= @post_image.caption %></p>
    <p><%= image_tag @post_image.user.get_profile_image(100,100) %></p>
    <p>ユーザーネーム：<%= @post_image.user.name %></p>
    <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  
  <div id="favorite_buttons_<%= @post_image.id %>">
    <%= render "favorites/favorite", post_image: @post_image %>
  </div>
  
  <%= render 'relationships/follow_button', user: @user %>

<h2>コメントする</h2>

<%= form_with(model:[@post_image, @comment], method: :post) do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :post_image_id, value: @post_image.id %>
  <%= f.submit 'コメントする' %>
<% end %>

<h2>コメント一覧</h2>

<% @comments.each do |post_comment| %>
  <%= post_comment.comment %>
<% end %>