<!DOCTYPE html>
<html>
  <head>
    <title>Animalsgram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/6880002198.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-paw"></i>Animalsgram
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link active" aria-current="page"><%= link_to "New Post", new_post_image_path %></a>
        <a class="nav-link" ><%= link_to "Top", post_images_path %></a>
        <a class="nav-link" ><%= link_to "My Page", user_path(current_user.id) %></a>
        <a class="nav-link" ><%= link_to "notification", notifications_path %></a>
        <a class="nav-link" > <%= link_to "Log out", destroy_user_session_path, method: :delete %></a>
    <% else %>
        <a class="nav-link" ><%= link_to 'Guest Log in', users_guest_sign_in_path, method: :post %></a>
        <a class="nav-link" ><%= link_to "Sign in", new_user_registration_path %></a>
        <a class="nav=link" ><%= link_to "Log in", new_user_session_path %></a>
    <% end %>
      </div>
    </div>
  </div>
</nav>
</header>
 <%= yield %>
</body>
</html>